*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: blueviolet;
}
header{
    background-color: rgba(255, 255, 255, 0.137);
    height:50px;
    z-index: 1;
    width: 100%;
}
.header{
    display: flex;
    align-items: center;
    position: sticky;
}
.logo{
    flex-basis: 60%;
}
.logo img{
    height:30px;
    width:25px;
    margin-left:5%;
}
.list ul{
    display:flex;
    flex-basis: 40%;

}
.list ul li{
    margin-left:40px;
    padding:5px;
}
.list ul li a{
    color:white;

}
.list ul li:hover{
    background-color: rgba(255, 255, 255, 0.527);
    border-radius:10px;
    transition-duration: 1s ;
    transition-timing-function: ease-in-out ;
}
.information{
    width: 800px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#circle{
    width: 800px;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
}
.feature img{
    width: 60px;
}
.feature{
    position: absolute;
    display: flex;
    color: white;
}
.feature div{
    margin-left: 30px;
}
.feature div p{
    margin-top: 6px;
}
.one{
    top:350px;
    right: 5px;

}
.two{
    top:150px;
    left:300px;
    transform: rotate(-90deg);
}
.three{
    bottom: 350px;
    left: 100px;
    transform: rotate(-180deg);
}
.four{
    bottom:100px;
    right: 225px;
    transform: rotate(-270deg);
}
.controls{
    position: absolute;
    right: 10%;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
}
.controls h3{
    margin: 15px 0;
    color: white;
}

#upBtn{
    width: 20px;
    cursor: pointer;
    transform: rotateX(180deg);
}
#downBtn{
    width: 20px;
    cursor: pointer;
    margin-top: 5px;
}
.overlay{
    width: 0;
    height: 0;
    border-top: 400px solid #fff;
    border-right: 400px solid transparent;
    border-left: 400px solid #fff;
    border-bottom  : 400px solid #fff;
    position:absolute;
    left: 0;
    top: 0;
}








