*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body{
    background-color: blueviolet;
}
header{
    background-color: rgba(255, 255, 255, 0.26);
    height:50px;
    border: 1px solid red;
}
.header{
    display: flex;
    align-items: center;
}
.logo{
    flex-basis: 60%;
}
.logo img{
    height:30px;
    width:25px;
    margin-left: 10px;
}
.list ul{
    display:flex;
    flex-basis: 40%;

}
.list ul li{
    margin-left:40px;
    padding:5px;
}
.list ul li:hover{
    background-color: rgba(255, 255, 255, 0.527);
    border-radius:10px;
    transition-duration: 1s ;
    transition-timing-function: ease-in-out ;
}
.circle{
    position:absolute;
    height:500px;
    width:500px;
    top:50%;
    left: 10%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: white;

}
.one{
    left:
}
.two{

}
.three{

}
.four{

}